<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeedCX</title>
    <script src="/js/bundle.js"></script>
  </head>
  <body>
    <div id="main"><%- markup -%></div>
  </body>
</html>